@font-face {
  font-family: 'Aegean';
  font-style: normal;
  font-weight: 400;
  src: local('Aegean Regular'), local('Aegean-Regular'), url(Aegean.ttf) format('truetype');
}
@font-face {
  font-family: 'CyproMinoan';
  font-style: normal;
  font-weight: 400;
  src: url('CMinoan.ttf') format('truetype'), url('CMinoan.woff') format('woff');
}
