@font-face {
  font-family: 'Aegean';
  font-style: normal;
  font-weight: 400;
  src: local('Aegean Regular'), local('Aegean-Regular') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Linear A and B';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSansLinearA-LinearB.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 400;
  src: url(NotoEmojiRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(NotoMono-Regular.ttf) format('truetype');
}
