/*
 * The author disclaims copyright to this source code. In place of a legal notice, here is a blessing:
 *
 *     May you do good and not evil.
 *     May you find forgiveness for yourself and forgive others.
 *     May you share freely, never taking more than you give.
 *
 */
.masthead {
  font-family: 'Routed Wide', serif;
  background-color: purple;
  opacity: 0.6;
  font-size: 4vh;
  color: white;
  border: white 0.2vw solid;
  display: inline-block;
  padding: 0.2vw;
}
.masthead-container {
  position: absolute;
  display: inline-flex;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.masthead > div > a:link, .masthead > div> a:visited,
.masthead > a:link, .masthead >  a:visited
{ 
  color: white;
  text-decoration: none;
}

.masthead > a:link:active, .masthead > a:visited:active,
.masthead > div > a:link:active, .masthead > div > a:visited:active { 
  color: white;
}

photo-images-container,drawing-images-container,reading-spec-container {
  position: relative;
  display: inline-block;
}
photo-image,drawing-imag {
  position: relative;
}
.letter-highlight {
  position: absolute;
}

reading-spec {
  border: black 1px solid;
  white-space: pre-wrap;
  padding: 5px;
  max-height: 400px;
  overflow: scroll;
}

.save:hover { cursor: pointer; }
.save {
  position: absolute;
  top: 0;
  right: 20px;
  border: darkgray 1px solid;
  border-radius: 20px;
  color: white;
  padding: 10px;
  background-color: gray;
  font-weight: bold;
}

commentary-entry,
bibliography-entry,
metadata-item,
parsed-reading-ascii,
transcribed-reading-ascii,
parsed-reading-unicode,
transcribed-reading-unicode {
  margin-top:10px;
  margin-bottom:10px;
}

metadata-container {
  display: block;
}
metadata-item {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: top;
}
names {
  display:block;
}
subheading {
  display: block;
  white-space: pre-wrap;
  font-size: 10px;
}

item {
  display: block;
}

heading {
  font-size: 24px;
  font-weight: bold;
}

name {
  display: block;
  font-size: 3em;
  text-align: center;
}

itemimages {
  display:block;
}

photo-image {
  display: inline-block;
}
drawing-image {
  display: inline-block;
}

support {
  display:block;
}

scribe {
  display:block;
}

site {
  display:block;
}

context {
  display:block;
}

findspot {
  display:block;
}

object-information {
  display:block;
}
dimensions {
  display:block;
}

length::before,thickness::before {
  content: " x ";
}

length:empty::before,thickness:empty::before {
  content: "";
}
height:empty::before {
  content: "Unavailable"
}

dimensions-source::before {
  content:"Source:";
  font-weight: bold;
}

dimensions-source {
  display:none;
}

catalogue-information {
  display:block
}

catalogue-name {
  display: block;
}
catalogue-name:empty::before {
  content: "Unavailable";
}

catalogue-number {
  display: block;
}

reading-spec {
  display:none;
}

readings,reading {
  display:block;
}

number+number::before {
  content: "+";
}

transcribed-reading-ascii ideogram+ideogram::before {
  content: "-";
}
parsed-reading-ascii ideogram+ideogram::before {
  content: "-";
}

readingheading {
  font-weight: bold;
  display:block;
}

transcribed-reading-unicode {
  vertical-align: top;
  display:inline-block;
  margin-left:30px;
  margin-right:30px;
}

transcribed-reading-ascii {
  vertical-align: top;
  display:inline-block;
  margin-left:30px;
  margin-right:30px;
}

parsed-reading-unicode {
  vertical-align: top;
  display:inline-block;
  margin-left:30px;
  margin-right:30px;
}

parsed-reading-ascii {
  vertical-align: top;
  display:inline-block;
  margin-left:30px;
  margin-right:30px;
}

commentaries {
  display: block;
}
commentary {
  display: block;
}
commentary::before {
  content: attr(author);
  font-weight: bold;
  font-size: 20px;
}
commentary-entry {
  display: block;
  margin-left: 30px;
}
line {
  display:block;
}

bibliography {
  display: block;
}

bibliography-entry {
  display: block;
  margin-left: 30px;
}

.link {
}
.link:hover { cursor: pointer; }
.letter-highlight,word:hover { cursor: pointer; }
word::before {
  content:" ";
}

/* Mobiles */
@media only screen 
	and (min-device-width: 280px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2),
	only screen 
	and (min-device-width: 280px) 
	and (max-device-width: 480px)
	and (min-device-pixel-ratio: 2),
	{
	name { 
		text-align: right; 
    font-size: 2em;
  }
  parsed-reading-ascii,
  transcribed-reading-ascii,
  parsed-reading-unicode,
  transcribed-reading-unicode {
    margin-top:20px;
  }
  metadata-item {
    margin-top: 10px;
  }
}

@media print{
  .noprint{
    display:none;
  }
}

