body {
  padding-top: 5vh;
}
.item-container {
  float: left;
  margin: 10px;
  display: flex;
  position: relative;
  min-width: 150px;
}
.zoomed-item-container {
  position: fixed;
  left: 50%; /* horizontally centre */
  transform: translateX(-50%); /* horizontally centre */
  top: 10%;
  background-color: white;
  z-index: 400;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}
.item-container:hover {
  background-color: #f5f5f0;
}
.search {
  font-family: 'Courier', serif;
  border-radius: 1em;
  display: inline-block;
  font-size: 4vh;
  opacity: 0.8;
  border: gray 3px solid;
  padding: 5px;
  padding-left: .5em;
}
input:focus::placeholder { color:transparent; }
.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.item-shell {
  position: relative;
  display: flex;
}
.item-zoom {
  border: 1px solid grey;
  display: none;
  position: absolute;
  height: 80px;
  top: -80px;
  z-index: 50;
}
.img-wrapper {
  position: relative;
}
.img-zoom-lens {
  display: none;
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.result {
  opacity: 1;
  font-size: 20px;
  background-color: slategray;
  color: white;
  display: none;
  padding: 10px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: 30px;
  text-align: center;
  animation: blinker 2s linear 1;
  border-radius: 40px;
  z-index: 2000;
  animation-delay: 3s;
}
@keyframes blinker {
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
.item {
  flex-grow: 1;
  font-family: 'AegeanRegular', 'Aegean', 'Noto Sans Linear A and B', 'Courier', sans-serif;
  padding: 10px;
  border: 1px solid grey;
  max-width: 150px;
  position: relative;
  background-color: inherit;
  line-height: 18px;
}
.text-item {
  max-width: 250px;
  word-break: break-word;
}
.transliteration-item, .translation-item {
  font-size: 16px;
  font-weight: 100;
  color: gray;
  max-width: 350px;
}
.zoomed-item {
  max-width: 250px;
  line-height: 28px;
  font-size: 20px;
}
.other-explorer {
  font-family: 'Courier', serif;
  opacity: 0.8;
  font-size: 2vh;
  color: white;
  border: white 3px solid;
  float: left;
  padding: 1px;
}
.masthead {
  font-family: 'Courier', serif;
  background-color: purple;
  opacity: 0.6;
  font-size: 4vh;
  color: white;
  border: white 3px solid;
  display: inline-block;
  padding: 5px;
}
.masthead-container {
  position: fixed;
  display: inline-flex;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.linearb-explorer {
  background-color: maroon;
}
.cretan-explorer {
  background-color: blue;
}
.cypro-minoan-explorer {
  background-color: olive;
}
.other-explorer-container {
  float: left;

}

.close-window {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 23px;
  height: 23px;
  border: 2px solid #eef5df;
  background-color: gray;
  opacity: 0.5;
  border-radius: 50%;
  display: none;
}
.close-window::before, .close-window::after {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 13px;
  height: 3px;
  content: "";
  background-color: #eef5df;
  display: block;
}
.close-window::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-window::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-window:hover { cursor: pointer; }
.zoomed-close-window {
  display: inline-block;
}


.label {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 2px;
  color: white;
  opacity: 0.5;
}
.tag-container {
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: 100;
  display: inline-block;
}
.tag {
  padding: 2px;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  opacity: 0.5;
  font-size: 14px;
  background-color: gray;
  display: inline;
}
.search-term, .tag:hover, .item > span, .zoomed-close-window {
  cursor: pointer;
}
.image-label {
  position: fixed;
  font-size: 1vh;
  background-color: gray;
}
#credits {
  font-family: 'Courier', serif;
}
#credits:hover {
  font-size: 2vh;
  opacity: 1;
}
.comment-box {
  position: absolute;
  padding: 6px;
  color: black;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  overflow-y: auto;
  font-family: 'Courier', serif;
  font-size: 10px;
  display: none;
  z-index: 400;
  box-sizing: border-box;
  max-height: 400px;
}

dt, dd, font {
  font-size: 12px;
}
.word-tip {
  position: absolute;
  font-size: 14px;
  font-family: 'Courier', serif;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3px;
  opacity: 0.6;
  z-index: 100;
}
.tip {
  position: fixed;
  left: 0;
  bottom:0;
  font-size: 18px;
  color: white;
  background-color: gray;
  font-family: 'Courier', serif;
}

.top-right-console {
  position: fixed;
  right: 0;
  top:0;
  padding: 10px;
}

.search-terms {
  padding: 10px;
}

.sort-status, .search-term {
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
  background-color: gray;
  opacity: 0.5;
  float: right;
  clear: both;
}

.sort-status { display: none; }

.image-label > a:link, .image-label > a:visited { 
  color: white;
  text-decoration: none;
}

.image-label > a:link:active, .image-label > a:visited:active { 
  color: white;
}

.word-frequency-1 {
  background-color: unset;
}
.word-frequency-2 {
  background-color: rgba(230,230,230, 0.5);
  line-height: initial;
}
.word-frequency-3 {
  background-color: rgba(220, 220, 220, 0.5);
  line-height: initial;
}
.word-frequency-4 {
  background-color: rgba(200, 200, 200, 0.5);
  line-height: initial;
}
.word-frequency-5 {
  background-color: rgba(180, 180, 180, 0.5);
  line-height: initial;
}
.word-frequency-6 {
  background-color: rgba(160, 160, 160, 0.5);
  line-height: initial;
}
.word-frequency-7 {
  background-color: rgba(150, 150, 150, 0.5);
  line-height: initial;
}
.word-frequency-8 {
  background-color: rgba(140, 140, 140, 0.5);
  line-height: initial;
}
.word-frequency-8 {
  background-color: rgba(130, 130, 130, 0.5);
  line-height: initial;
}
.word-frequency-9 {
  background-color: rgba(120, 120, 120, 0.5);
  line-height: initial;
}
.word-frequency-10 {
  background-color: rgba(105, 105, 105, 0.5);
  line-height: initial;
}
.word-frequency-none {
  background-color: unset;
}
.help-menu {
  display: none;
  font-size: 25px;
  padding: 10px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 60%;
  font-family: 'Courier', serif;
  z-index: 400;
}
.help-menu > span {
  background-color: yellow;
  text-transform: uppercase;
}
.bottom-console {
  position: fixed;
  left: 50%; /* horizontally centre */
  transform: translateX(-50%); /* horizontally centre */
  bottom: 0;
  z-index: 5000;
  font-family: 'AegeanRegular', 'Aegean', 'Noto Sans Linear A and B', 'Noto Emoji', sans-serif;
}
.filter-command-container {
  display: inline-block;
  text-align: center;
}
.filter-label {
  visibility: hidden;
  border-radius: 20px;
  opacity: 0.8;
  background-color: black;
  border: 2px white solid;
  color: white;
  padding: 3px 5px;
  font-size: 0.6em;
}
.filters-container {
  white-space: nowrap;
}
.filter-command {
  cursor: pointer;
  background-color: black;
  color: white;
  opacity: 0.6;
  border-radius: 50%;
  font-size: 1em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border: 2px white solid;
  display: inline-block;
}

.filter-command-container:hover .filter-command {
  opacity: 0.8;
}
.filter-command-container:hover .filter-label {
  visibility: visible;
}
#filter-details-container, #search-container {
  position: fixed;
  left: 50%; /* horizontally centre */
  transform: translateX(-50%); /* horizontally centre */
  bottom: 5em;
  visibility: hidden;
}
.filter-tag {
  cursor: pointer;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  opacity: 0.8;
  font-size: 0.7em;
  background-color: black;
  float: left;
  margin: 5px;
}
.filter-tag:hover {
  opacity: 1;
}
textarea:focus, input:focus{
  outline: none;
}
