.item-container {
  float: left;
  margin: 10px;
  display: flex;
  position: relative;
}
.item-container:hover {
  background-color: #f5f5f0;
}
.search {
  font-family: 'Courier', serif;
  width: 200px;
  min-height: 5vh;
  display: inline-block;
  font-size: 5vh;
  opacity: 0.8;
  border: gray 3px solid;
  padding: 5px;
}
input:focus::placeholder { color:transparent; }
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item {
  float: left;
  font-family: 'Aegean', serif;
  padding: 10px;
  border: 1px solid grey;
  max-width: 150px;
  position: relative;
  background-color: inherit;
}
.masthead {
  font-family: 'Courier', serif;
  background-color: purple;
  opacity: 0.8;
  font-size: 5vh;
  color: white;
  border: white 3px solid;
  display: inline-block;
  padding: 5px;
}
.masthead-container {
  position: fixed;
  display: inline-flex;
  top: 0px;
  left: 0px;
  z-index: 100;
  min-height: 5vh;
}
.label {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 2px;
  color: white;
  opacity: 0.5;
}
.image-label {
  position: fixed;
  font-size: 10px;
  background-color: gray;
}

.comment-box {
  position: fixed;
  padding: 6px;
  right: 10px;
  bottom: 10px;
  color: black;
  background-color: white;
  height: 50%;
  width: 40%;
  border: 1px solid black;
  overflow-y: auto;
  font-family: 'Courier', serif;
  font-size: 10px;
  display: none;
}

dt, dd, font {
  font-size: 12px;
}
.tip {
  position: fixed;
  left: 0;
  bottom:0;
  font-size: 18px;
  color: white;
  background-color: gray;
  font-family: 'Courier', serif;
}

.top-right-console {
  position: fixed;
  right: 0;
  top:0;
  padding: 10px;
}

.search-terms {
  padding: 10px;
}

.sort-status, .search-term {
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
  background-color: gray;
  opacity: 0.5;
  float: right;
  clear: both;
}

.sort-status { display: none; }

.image-label > a:link, .image-label > a:visited { 
  color: white;
  text-decoration: none;
}

.image-label > a:link:active, .image-label > a:visited:active { 
  color: white;
}

.help-menu {
  font-size: 15px;
  background-color: white;
  padding: 10px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 450px;
  font-family: 'Courier', serif;
  border: 1px solid black;
}
