body {
  padding-top: 5vh;
}
.item-container {
  float: left;
  margin: 10px;
  display: flex;
  position: relative;
}
.zoomed-item-container {
  position: fixed;
  top: 50px;
  left: 100px;
  background-color: white;
  z-index: 1000;
}
.item-container:hover {
  background-color: #f5f5f0;
}
.search {
  font-family: 'Courier', serif;
  width: 200px;
  display: inline-block;
  font-size: 4vh;
  opacity: 0.8;
  border: gray 3px solid;
  padding: 5px;
}
input:focus::placeholder { color:transparent; }
.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.item-shell {
  position: relative;
  display: flex;
}
.item-zoom {
  border: 1px solid grey;
  display: none;
  position: absolute;
  height: 80px;
  top: -80px;
  z-index: 50;
}
.img-wrapper {
  position: relative;
}
.img-zoom-lens {
  display: none;
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
  z-index: 100;
}
.result {
  font-size: 20px;
  background-color: slategray;
  color: white;
  display: none;
  padding: 10px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: 30px;
  text-align: center;
  animation: blinker 3s linear 1;
  border-radius: 40px;
  z-index: 2000;
}
@keyframes blinker {
  100% {
    opacity: 0.1;
  }
}
.item {
  float: left;
  font-family: 'Aegean', 'Noto Sans Linear A and B', 'Courier', sans-serif;
  padding: 10px;
  border: 1px solid grey;
  max-width: 150px;
  position: relative;
  background-color: inherit;
  line-height: 18px;
  transition: max-width 0.2s, line-height 0.2s, font-size 0.2s;
}
.text-item {
  max-width: 250px;
  transition: max-width 0.2s;
}
.transliteration-item {
  font-size: 16px;
  font-weight: 100;
  color: gray;
  max-width: 350px;
  transition: max-width 0.2s, line-height 0.2s, font-size 0.2s;
}
.zoomed-item {
  max-width: 350px;
  line-height: 28px;
  font-size: 20px;
  transition: max-width 0.2s, line-height 0.2s, font-size 0.2s;
}
.other-explorer {
  font-family: 'Courier', serif;
  opacity: 0.8;
  font-size: 2vh;
  color: white;
  border: white 3px solid;
  float: left;
  padding: 1px;
}
.masthead {
  font-family: 'Courier', serif;
  background-color: purple;
  opacity: 0.8;
  font-size: 4vh;
  color: white;
  border: white 3px solid;
  display: inline-block;
  padding: 5px;
}
.masthead-container {
  position: fixed;
  display: inline-flex;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.linearb-explorer {
  background-color: maroon;
}
.cretan-explorer {
  background-color: blue;
}
.cypro-minoan-explorer {
  background-color: olive;
}
.other-explorer-container {
  float: left;

}
.label {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 2px;
  color: white;
  opacity: 0.5;
}
.scribe-label {
  font-size: 10px;
  right: auto;
  left: 0;
  background-color: gray;
  z-index: 100;
}
.search-term, .scribe-label:hover, .item > span {
  cursor: pointer;
}
.image-label {
  position: fixed;
  font-size: 1vh;
  background-color: gray;
}
#credits {
  font-family: 'Courier', serif;
}
#credits:hover {
  font-size: 2vh;
  opacity: 1;
}
.comment-box {
  position: absolute;
  padding: 6px;
  color: black;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  overflow-y: auto;
  font-family: 'Courier', serif;
  font-size: 10px;
  display: none;
  z-index: 400;
  box-sizing: border-box;
}

dt, dd, font {
  font-size: 12px;
}
.word-tip {
  position: absolute;
  font-size: 14px;
  font-family: 'Courier', serif;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  z-index: 100;
}
.tip {
  position: fixed;
  left: 0;
  bottom:0;
  font-size: 18px;
  color: white;
  background-color: gray;
  font-family: 'Courier', serif;
}

.top-right-console {
  position: fixed;
  right: 0;
  top:0;
  padding: 10px;
}

.search-terms {
  padding: 10px;
}

.sort-status, .search-term {
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
  background-color: gray;
  opacity: 0.5;
  float: right;
  clear: both;
}

.sort-status { display: none; }

.image-label > a:link, .image-label > a:visited { 
  color: white;
  text-decoration: none;
}

.image-label > a:link:active, .image-label > a:visited:active { 
  color: white;
}

.word-frequency-1 {
  background-color: unset;
}
.word-frequency-2 {
  background-color: rgba(230,230,230, 0.5);
  line-height: initial;
}
.word-frequency-3 {
  background-color: rgba(220, 220, 220, 0.5);
  line-height: initial;
}
.word-frequency-4 {
  background-color: rgba(200, 200, 200, 0.5);
  line-height: initial;
}
.word-frequency-5 {
  background-color: rgba(180, 180, 180, 0.5);
  line-height: initial;
}
.word-frequency-6 {
  background-color: rgba(160, 160, 160, 0.5);
  line-height: initial;
}
.word-frequency-7 {
  background-color: rgba(150, 150, 150, 0.5);
  line-height: initial;
}
.word-frequency-8 {
  background-color: rgba(140, 140, 140, 0.5);
  line-height: initial;
}
.word-frequency-8 {
  background-color: rgba(130, 130, 130, 0.5);
  line-height: initial;
}
.word-frequency-9 {
  background-color: rgba(120, 120, 120, 0.5);
  line-height: initial;
}
.word-frequency-10 {
  background-color: rgba(105, 105, 105, 0.5);
  line-height: initial;
}
.word-frequency-none {
  background-color: unset;
  line-height: 18px;
}
.help-menu {
  display: none;
  font-size: 15px;
  background-color: white;
  padding: 10px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 60%;
  font-family: 'Courier', serif;
  border: 1px solid black;
  z-index: 400;
}
