.item-container {
  display: inline-block;
  float: left;
}
.item {
  float: left;
  font-family: 'CyproMinoan', serif;
}
.search {
  background-color: purple;
  font-family: 'Orbitron';
  font-size: 5vh;
  color: white;
  border: white 3px solid;
  display: inline-block;
  width: 15%;
  min-width: 15%;
  min-height: 5vh;
  padding: 2px;
}
.masthead-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  min-width: 100%;
  min-height: 5vh;
}
